<!DOCTYPE html>
<html>
    <head>
        <title>Fill Score of <%= team.name %></title>
    </head>
    <body>

       <h1><%= team.name %></h1>
       <form action="/adminPanel/fillScore/<%= team._id %>/<%= contestId %>" method="POST">
    
            <input type="number" name="score" placeholder="Score of <%= team.name %>">
            <button>Submit</button>
    
        </form> 


    </body>
</html>